<div  ng-show="currentStep === 2">
        <h2>学歴情報入力</h2>

        <p class="register-note">学歴情報には、あなたが今までに通ったすべての学歴を記載してください。</p>

        <form action="">
          <div class="register-row">
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">高校名</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">高校卒業年月</label>
            </div>
            <div class="md-checkbox">
              <input class="md-checkbox-input" type="checkbox" id="register-drop-high">
              <label class="md-checkbox-label" for="register-drop-high">中退</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">大学所在地（国）</option>
                <option value="1">日本</option>
                <option value="2">アメリカ</option>
              </select>
            </div>
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">大学所在地（州／都道府県）</option>
                <option value="1">東京</option>
                <option value="2">埼玉</option>
              </select>
            </div>
          </div>
          <div class="register-row">
            <div class="md-textfield required validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">大学卒業年月</label>
            </div>
            <div class="md-checkbox">
              <input class="md-checkbox-input" type="checkbox" id="register-drop-univ">
              <label class="md-checkbox-label" for="register-drop-univ">中退</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">専攻カテゴリ</option>
                <option value="1">選択肢</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">専攻</option>
                <option value="1">選択肢</option>
                <option value="2">選択肢</option>
              </select>
            </div>
          </div>
          <div class="register-row">
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">専攻正式名称</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">学位</option>
                <option value="1">選択肢</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">成績／GPA</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-textarea required validate">
              <textarea name="" class="md-textarea-input"></textarea>
              <label class="md-textarea-label">学歴詳細</label>
            </div>
          </div>

          <div class="register-additional-education additional-target">
            <h2>追加学歴情報入力</h2>
            <div class="register-row">
              <div class="md-checkbox">
                <input class="md-checkbox-input" type="checkbox" id="register-drop-univ-01">
                <label class="md-checkbox-label" for="register-drop-univ-01">交換留学</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">大学所在地（国）</option>
                  <option value="1">日本</option>
                  <option value="2">アメリカ</option>
                </select>
              </div>
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">大学所在地（州／都道府県）</option>
                  <option value="1">東京</option>
                  <option value="2">埼玉</option>
                </select>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textfield required validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">大学卒業年月</label>
              </div>
              <div class="md-checkbox">
                <input class="md-checkbox-input" type="checkbox" id="register-drop-univ-02">
                <label class="md-checkbox-label" for="register-drop-univ-02">中退</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">専攻カテゴリ</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">専攻</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textfield required validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">専攻正式名称</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">学位</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
              <div class="md-textfield validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">成績／GPA</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textarea required validate">
                <textarea name="" class="md-textarea-input"></textarea>
                <label class="md-textarea-label">学歴詳細</label>
              </div>
            </div>
            <div class="register-add-education">
              <a href="" class="button button-delete"><span>この学歴を削除</span></a>
              <a href="" class="button button-outline button-add add-item"><span>学歴を追加</span></a>
            </div>
          </div>

          <div class="register-next"><a href ng-click="nextStep(currentStep)" class="button">次のステップへ</a></div>
        </form>
        </div>