<div  ng-show="currentStep === 3">
<h2>プロフィール情報入力</h2>


        <form action="">
          <div class="register-row register-add additional-target">
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">連絡先TEL（国番号）</option>
                <option value="1">日本（+81）</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <div class="md-textfield required validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">連絡先TEL</label>
            </div>
            <a href="" class="button button-outline button-delete"><span>削除</span></a>
            <a href="" class="button button-outline button-add add-item"><span>他のTELを追加</span></a>
          </div>


          <div class="register-row">
            <div class="md-textfield required validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">郵便番号</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">国</option>
                <option value="1">日本</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">州／都道府県</option>
                <option value="1">東京</option>
                <option value="2">選択肢</option>
              </select>
            </div>
          </div>
          <div class="register-row">
            <div class="md-textfield required validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">市区町村</label>
            </div>
            <div class="md-textfield required validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">住所その他</label>
            </div>
          </div>

          
          <div class="register-row">
            <div class="md-checkbox">
              <input class="md-checkbox-input" type="checkbox" id="register-address">
              <label class="md-checkbox-label" for="register-address">現住所と異なる連絡先住所がある方</label>
            </div>
          </div>

          
          <div class="register-row">
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">郵便番号</label>
            </div>
          </div>
          <div class="register-row">
            <div class="md-select validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">国</option>
                <option value="1">日本</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <div class="md-select validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">州／都道府県</option>
                <option value="1">東京</option>
                <option value="2">選択肢</option>
              </select>
            </div>
          </div>
          <div class="register-row">
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">市区町村</label>
            </div>
            <div class="md-textfield validate">
              <input type="text" class="md-textfield-input">
              <label class="md-textfield-label">住所その他</label>
            </div>
          </div>
          

          <div class="register-row additional-target">
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">労働許可（国）</option>
                <option value="1">日本</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <div class="md-select required validate">
              <select name="" id="" class="md-select-box">
                <option value="" disabled selected style="display:none;">労働許可区分</option>
                <option value="1">選択肢</option>
                <option value="2">選択肢</option>
              </select>
            </div>
            <a href="" class="button button-outline button-delete"><span>削除</span></a>
            <a href="" class="button button-outline button-add add-item"><span>他の労働許可を追加</span></a>
          </div>

          <div class="register-row">
            <div class="md-radio">
              <input class="md-radio-input" type="radio" name="job-experience" id="job-experience-1" checked>
              <label class="md-radio-label" for="job-experience-1">職務経歴あり</label>
              <input class="md-radio-input" type="radio" name="job-experience" id="job-experience-2">
              <label class="md-radio-label" for="job-experience-2">職務経歴なし</label>
            </div>
          </div>
          <p style="margin-left: 15%;">※「職務経歴」は登録完了後にマイページから再度入力可能です。<br>※「職務経歴」なしを選択すると、こちらで登録が完了します。</p>

          <div class="register-next"><a href ng-click="nextStep(currentStep)" class="button">次のステップへ</a></div>
        </form>
        </div>