<div ng-show="currentStep === 4">
 <h2>職務経歴入力</h2>


        <form action="">
          <div class="additional-target">
            <div class="register-row">
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">職務経験年数</option>
                  <option value="1">1年未満</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textfield validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">現年収</label>
              </div>
              <div class="md-textfield validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">希望年収</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textfield required validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">会社名</label>
              </div>
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">業種</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textfield required validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">事業内容</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textfield required validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">ポジション名</label>
              </div>
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">雇用形態</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
            </div>

            <div class="register-row additional-target">
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">勤務期間開始</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">勤務期間終了</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
            </div>
            <div class="register-row">
              <div class="md-select required validate">
                <select name="" id="" class="md-select-box">
                  <option value="" disabled selected style="display:none;">職種</option>
                  <option value="1">選択肢</option>
                  <option value="2">選択肢</option>
                </select>
              </div>
              <div class="md-textfield validate">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">キャリアレベル</label>
              </div>
            </div>
            <div class="register-row">
              <div class="md-textarea">
                <textarea name="" class="md-textarea-input"></textarea>
                <label class="md-textarea-label">職務経歴詳細</label>
              </div>
            </div>
            <div class="register-add-education">
              <a href="" class="button button-delete"><span>職務経歴を削除</span></a>
              <a href="" class="button button-outline button-add add-item"><span>職務経歴を追加</span></a>
            </div>
          </div>

        <h2>ブロック企業設定</h2>
        <p class="register-block-lead">プロフィールを公開したくない記号がある場合は、正式な社名で検索しご指定ください。<br>
        設定企業にはプロフィールを閲覧されることはありません。</p>

          <div class="register-row" style="background-color: #fff;">
              <div class="md-textfield" style="margin-right: 0;">
                <input type="text" class="md-textfield-input">
                <label class="md-textfield-label">会社名</label>
              </div>
          </div>
          <div class="register-block-list">
            <p>ブロック設定中企業一覧</p>
            <ul>
              <li>株式会社フランジア・ジャパン<a href="" class="button button-outline button-delete"><span>解除</span></a></li>
              <li>株式会社フランジア・ジャパン<a href="" class="button button-outline button-delete"><span>解除</span></a></li>
            </ul>
          </div>
          <div class="register-next"><a href ng-click="nextStep(currentStep)" class="button">次のステップへ</a></div>
        </form>
        </div>