 <div>  
  <div class="logo">
    <p>日英バイリンガルのための就職・転職ジョブサイト</p>
    <h1><a href="index.html"><img src="./styles/images/logo@2x.png" width="240" height="25" alt="CFN - CareerForum.Net"></a></h1>
  </div>
  <div class="header-menu">
    <div><a href="#" class="menu-header-cf">キャリアフォーラム</a></div>
    <div><a href="#" class="menu-header-list">気になるリスト</a></div>
    <div><a href="#" class="menu-header-contents">お役立ちコンテンツ</a></div>
  </div>
  <div class="header-login is-logout">
    <p><a href="#">企業担当者様はこちら</a></p>
    <p class="header-login-link"><a href="#">ログイン</a></p>
    <div class="popup popup-login">
      <form action="">
        <div class="md-textfield">
          <input type="text" class="md-textfield-input">
          <label class="md-textfield-label">メールアドレス</label>
        </div>
        <div class="md-textfield">
          <input type="password" class="md-textfield-input">
          <label class="md-textfield-label">パスワード</label>
        </div>
        <div class="md-checkbox">
          <input class="md-checkbox-input" type="checkbox" id="login-auto">
          <label class="md-checkbox-label" for="login-auto">自動的にログイン</label>
        </div>
        <div class="popup-login-button"><a href="#" class="button">ログイン</a></div>
      </form>
    </div>
  </div>
  <div class="header-login is-login">
    <p><a href="mypage.html">マイページ</a></p>
    <p><a href="#">メッセージ</a></p>
    <p><a href="#">ダイレクトリクルーティング</a></p>
  </div>

</div>