<div class="cf-popup-title">
  対象求人を追加・変更
  <a  href class="cf-popup-close" ng-click="closePopUp()">clear</a>
</div>
<div class="cf-popup-contents">
  <form>
    <div class="cf-popup-form-box cf-popup-candidate-01">
      <dl class="grid-information">
        <dt>氏名</dt>
        <dd>手巣都　太郎（TEST TARO）</dd>
        <dt>生年月日</dt>
        <dd>1994/4/1</dd>
        <dt>性別</dt>
        <dd>男性</dd>
        <dt>メールアドレス</dt>
        <dd>test_taro@gmail.com</dd>
        <dt>希望メール言語</dt>
        <dd>日本語</dd>
        <dt>パスワード</dt>
        <dd>●●●●●●●●</dd>
        <dt>言語スキル</dt>
        <dd>日本語（母国語レベル）</dd>
        <dt>スキル</dt>
        <dd>あああ / あああああああああああ</dd>
        <dt>自己PR</dt>
        <dd>あああああああああああああああああああああああああああああああああああああ</dd>
        <dt>TOEIC</dt>
        <dd>990</dd>
        <dt>Versant</dt>
        <dd>80</dd>
        <dt>希望業種</dt>
        <dd>ああああああああああああああ</dd>
        <dt>希望職種</dt>
        <dd>ああああああああああああああ</dd>
        <dt>希望勤務地</dt>
        <dd>ああああああああああああああ（日本）</dd>
      </dl>
    </div>
    <div class="cf-popup-form-button">
      <a href="" class="button button-clear">修正する</a>
      <a href class="button button-register" ng-click="nextStep(currentStep)">この内容で登録する</a> 
    </div>
  </form>
</div>
